

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container bootstrap snippets bootdey">
<div class="col-md-12 col-12 col-sm-12">
  <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchClients(key.value)" #key="ngModel" ngModel
     name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search..." required>
 </form>
 <br>

    <div class="card">
      <div class="card-header">
        <h4>Review Details</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody><tr>
              <th class="text-center">Name</th>
              <th class="text-center">Surname</th>
              <th class="text-center">Username</th>
              <th class="text-center">Title</th>
              <th class="text-center">Review</th>
              <th class="text-center">Action</th>
            </tr>

            <tr *ngFor="let review of reviews">
              
              <td class="text-center">{{review.user.firstName}}</td>
              <td class="text-center">{{review.user.lastName}}</td>
              <td class="text-center">{{review.user.username}}</td>
              <td class="text-center">{{review.title}}</td>
              <td class="text-center">{{review.review}}</td>
              <td>
                <a class="btn btn-danger btn-action text-center" (click)="onDeleteReview(review.id)" data-toggle="tooltip" title="" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" data-original-title="Delete"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
        
          </tbody></table>
        </div>
      </div>
    </div>
  </div>
</div>

