
<head>
  <link href="faq.component.css" rel="stylesheet">
</head>

<main role="main" class="container bootdey.com">
    
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">FAQ</h6>
    <div *ngFor="let answerAndQuestion of answersAndQuestions" class="media text-muted pt-3">
      <div>
        <p  class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">{{answerAndQuestion.question.question}}</strong>
          <br>{{answerAndQuestion.answer}}
        </p>
      </div>
    </div>
  </div>
</main>