<head>
  <link href="app.component.css" rel="stylesheet">
</head>
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/vehicle">Vehicle</a>
      <a class="nav-item nav-link" routerLink="/review">Review</a>
      <a class="nav-item nav-link" routerLink="/faq">FAQ</a>
      <a class="nav-item nav-link" routerLink="/adminReview">Review</a>
      <a class="nav-item nav-link" routerLink="/adminFAQ">FAQ</a>
  </div>
</nav>

<!-- main content container -->
<div class="main">
  <router-outlet></router-outlet>
</div>