<head>
  <link href="app.component.css" rel="stylesheet">
</head>
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="!homeService.isAdminLoggedIn() && !homeService.isClientLoggedIn()" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/vehicle">Vehicle</a>
      <a class="nav-item nav-link" *ngIf="!homeService.isAdminLoggedIn()" routerLink="/review">Review</a>
      <a class="nav-item nav-link" *ngIf="!homeService.isAdminLoggedIn()" routerLink="/faq">FAQ</a>
      <a class="nav-item nav-link" *ngIf="homeService.isAdminLoggedIn()" routerLink="/adminReview">Review</a>
      <a class="nav-item nav-link" *ngIf="homeService.isAdminLoggedIn()" routerLink="/adminFAQ">FAQ</a>
      <a class="nav-item nav-link" *ngIf="homeService.isAdminLoggedIn()" routerLink="/client">Client</a>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="homeService.isAdminLoggedIn()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></a>
        <ul class="dropdown-menu dropdown-menu-right" *ngIf="homeService.isAdminLoggedIn()">
          <div class="drop-content" *ngFor="let questionNotification of questionNotifications">
            <a class="dropdown-item" >{{questionNotification.content}}</a>
          </div>
        </ul>
      </li>
    </ul>
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="homeService.isAdminLoggedIn() || homeService.isClientLoggedIn()" routerLink="/logout">Logout</a>
    </div>
  </div>
</nav>
<!-- main content container -->
<div class="main">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5>About Us</h5>
        <p class="text-justify text-white">Dugogodišnjim iskustvom, konstantnim obnavljanjem flote automobila, povoljnim cijenama te posebnim pristupom našim klijentima dobili smo jednu od najljepših nagrada, nagradu zadovoljstva naših dragih klijenata.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contact</h5>
        <div>
          <p class="text-justify text-white">Zmaja od Bosne 123, Sarajevo
            <br>Bosna i Hercegovina
            <br>Phone: +387 33 111 555
            <br>E-mail: info@rentacar.ba
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">All right Reversed.</p>
      </div>
    </div>	
  </div>
</section>
<!-- ./Footer -->