<head>
  <link href="review.component.css" rel="stylesheet">
</head>
<div class="container">
  <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
      <h4 class="font-cond-l fg-accent lts-md mgb-10" contenteditable="false">Not Yet Convinced?</h4>
      <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Read Customer Reviews</h1>
  </div>
  <ul *ngFor="let review of reviews" class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
      <li>
        <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">{{review.user.firstName}} {{review.user.lastName}}</h5> 
        <p class="fs-110 font-cond-l" contenteditable="false">" {{review.title}} "</p>
       
      </li>
     
    </ul>
</div>